psycopg2-binary==2.8.6
Django==3.2.6
decorator==5.0.9
django-filter==2.4.0
django-rest-swagger==2.2.0
djangorestframework==3.12.4
Markdown==3.3.4
ipython==7.19.0
coverage==5.5
pytest==6.1.2
pytest-cov==2.10.1
pytest-django==4.1.0
